LLM_MODEL=openai
# LLM_MODEL=gemini-2.5-flash
# LLM_MODEL=gemini-2.5-flash-lite
# LLM_MODEL=gemini-2.0-flash
GEMINI_API_KEY="YOUR_API_KEY"
OPENAI_URL=http://127.0.0.1:1234
OPENAI_API_KEY="YOUR_API_KEY"